@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

body {
    font-family: poppins;
    background-color: #162c4d;
    color: white;
}

h1 {
    @apply font-semibold text-7xl
}

.blue-circle {
    color: blue;
}